* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=general.css.map */