@import 'reset', 'general', 'font-awesome';
@import 'components/aside',
        'components/modal',
        'components/tooltip',
        'components/chart-buttons',
        'components/inside-charts';

.m-footer, .iframe-pixel {
    display: none;
}

header {
    height: 100vh;
    width: 100%;

    .dashboard-logo-header {
        position: absolute;
        top: 24px;
        left: 32px;
        z-index: 100;

        cursor: pointer;
    }
    .ec-logo-header {
        position: absolute;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
    }

    .cabecera-inferior {
        position: relative;
        max-width: 1100px;
        margin: 0 auto;

        height: 100%;

        //Nueva prueba para ver distancia con flecha
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__important {
            display: flex;
            justify-content: space-between;

            &--title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;
                h1 {
                    width: 352px;
                    opacity: 0.9;
                    font-size: 42px;
                    font-weight: 900;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.07;
                    letter-spacing: normal;
                    color: #ffffff;

                    margin-bottom: 16px;
                }

                h2 {
                    width: 352px;
                    opacity: 0.4;
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.5px;
                    color: #ffffff;
                }
            }

            .header-chart {
                height: 350px;
                width: 70%;
            }
        }
        &__flecha {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            animation: scrollDown 1.2s infinite linear;
            img {
                cursor: pointer;
            }
        }     
    }
}

section {
    width: 100%;
    max-width: 940px;
    margin: auto;

    .cabecera-inferior {
        &__autores {
            //Width y max-width siempre similar a section
            width: 100%;
            max-width: 940px;
            margin: auto;

            display: flex;
            flex-direction: row;

            margin-bottom: 140px;

            .author-text {
                margin-right: 108px;
            }

            div span {
                display: block;
                margin-bottom: 8px;

                opacity: 0.5;
                font-size: 15px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #ffffff;

                &.bold {
                    font-weight: 900;
                }
            }

            .author-format {
                &--responsive {
                    display: flex;
                    div:first-child {
                        margin-right: 32px;
                    }
                }                
            }
        }
    }

    .title-content, .text-content {
        width: 100%;
        height: auto;
    }

    .title-content {
        max-width: 460px;

        font-size: 32px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.06;
        letter-spacing: 1px;
        color: #ffffff;

        margin-top: 84px;
        margin-bottom: 64px;

        transform: translateX(160px);
    }

    .text-content {
        display: flex;
        flex-direction: column;

        .capital-letter, .text-bottom, .summary {
            max-width: 460px;
        }
        .capital-letter {
            font-size: 100px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;

            transform: translateX(155px);
        }
        .text-bottom {
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.5px;
            color: #ffffff;
            
            margin-bottom: 40px;

            transform: translateX(160px);
        }
        .summary {
            width: 310px;
            
            font-size: 24px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.67px;
            text-align: right;
            color: #ffffff;

            margin: 68px 0px 108px 0px;

            align-self: flex-end;
            transform: translateX(-240px);

            opacity: 0;
            visibility: hidden;
            transition: transform 1.5s, opacity 1.5s, visibility 1.5s;
        }

        .is-visible {
            opacity: 1;
            visibility: visible;
        }

        .text-suscription {
            width: 380px;
            opacity: 0.5;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: right;
            color: #ffffff;
            
            align-self: flex-end;
            transform: translateX(-120px);

            margin-bottom: 124px;
        }
    }

    .chart-content {
        width: 100%;
        height: auto;
        margin: 84px auto 124px auto;
        .chart-title {
            width: 245px;
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f3f3f3;

            margin-bottom: 16px;
        }
        .chart-subtitle {
            opacity: 0.6;
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
            color: #d0d0d0;
            text-transform: uppercase;
            margin-bottom: 45px;
            .first-subtitle {
                position: relative;
                margin-right: 8px;
            }

            .second-subtitle {
                font-weight: bold;
            }
        }
        .chart {
            width: 100%;
            height: 350px;
            &__empresas-activas {
                height: 1300px;
            }
            &__previsiones-crecimiento {
                height: 540px;
            }
        }
        .chart-note {
            //Disposición
            margin-top: 24px;
            text-align: right;
            display: flex;
            justify-content: flex-end;

            //Textos
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: right;
            color: #4f4f4f;
            .chart-source {
                font-weight: bold;
                position: relative;
                padding-right: 10px;
                margin-right: 8px;
                &:before {
                    content: "|";
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        
    }

    
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2e2e2e;
    margin-top: 100px;

    //Textos
    font-size: 14px;
    color: #fff;
    padding: 40px 0;

    .footer__legal {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px 0 0;

        .footer__copy, .footer__menu, .footer__note {
            margin: 0;
        }

        .footer__menu {
            list-style: none;
            padding: 0 10px;
            display: flex;
            margin: 10px 0;

            &-item {
                margin: 0 10px;
            }

            &-link {
                color: #fff;
                font-weight: 500;
            }
        }

    }
}

@media only screen and (min-width: 1900px){
    header {
        .cabecera-inferior {
            max-width: 1600px;
            &__important {
                &--title {
                    h1, h2 {width: 450px;}
                    h1 {
                        font-size: 56px;
                        line-height: 1.1;
                    }
                    h2 {font-size: 26px;}
                }
                .header-chart {height: 500px;}
            }
        }
    }
}

@media only screen and (max-width: 1240px){
    header {
        .cabecera-inferior {
            padding: 0px 16px;
        }
    }
}

@media only screen and (max-width: 1162px){
    header {
        .cabecera-inferior {
            &__important {
                flex-direction: column;
                &--title, .header-chart {
                    width: 100%;
                }
                &--title {
                    margin-bottom: 40px;
                    h1 {
                        width: inherit;
                        font-size: 40px;
                    }
                    h2 {
                        width: inherit;
                        font-size: 18px;
                    }
                }
            }      
        }
    }
    section {
        padding: 0 52px; //Para dar cabida al aside  
        .title-content {transform: translateX(120px);}      
        .text-content {
            .capital-letter {
                transform: translateX(115px);
            }
            .text-bottom {
                transform: translateX(120px);
            }
            .summary {
                transform: translateX(-120px);
            }
        }
    }    
}

@media only screen and (max-width: 768px){
    header {
        .dashboard-logo-header {
            top: 21px;
            left: 16px;
        }
        .ec-logo-header {
            top: 21px;
        }
        .cabecera-inferior {
            &__important {
                &--title {
                    margin-bottom: 40px;
                    h1 {
                        width: inherit;
                        font-size: 35px;
                    }
                    h2 {
                        width: inherit;
                        font-size: 16px;
                    }
                }
                .header-chart {
                    height: 300px;
                }
            }
            &__flecha {
                bottom: 70px;
            }  
        }
    }
    //Contenido
    section {
        padding: 0 16px; //Cambiamos el padding puesto que el aside está fijado abajo
        .cabecera-inferior {
            &__autores {
                padding: 0px;
                margin-bottom: 40px;
                .author-text {
                    margin-right: 50px;
                }
                .author-format {
                    &--responsive {
                        flex-direction: column;
                        div:first-child {
                            margin-right: 0px;
                        }
                    }                
                }
            }
        }
        .title-content {
            margin-top: 16px;
            margin-bottom: 40px;
            transform: translateX(0px);
        }
        .text-content {
            .capital-letter, .text-bottom, .summary, .text-suscription {
                transform: translateX(0px);
                width: 100%;
                max-width: none;
            }
            .capital-letter {
                transform: translateX(-5px);
            }
            .summary {
                margin: 16px 0px 56px 0px;
            }
            .text-suscription {
                width: 300px;
                margin-bottom: 48px;
            }
        }

        .chart-content {
            margin: 16px auto 56px auto;

            .chart-note {
                //Disposición
                flex-direction: column;

                .chart-source {
                    padding-right: 0px;
                    margin-right: 0px;
                    &:before {
                        content: "";
                    }
                }
            }
        }
    }

    //Footer
    footer {
        margin-top: 60px;
    
        //Textos
        font-size: 12px;
        color: #fff;
        padding: 40px 0 60px;
    
        .footer__legal {
            width: 100%;
    
            .footer__copy .footer__copyright {
                display: block;
            }
    
            .footer__menu {
                padding: 0;
                margin: 15px 0;
                justify-content: space-around;
                align-items: center;
    
                &-item {
                    margin: 0;
                }
    
                &-link {
                    display: inline-block;
                    line-height: 1.3;
                }
            }
    
        }
    }
}

@media only screen and (max-width: 525px){
    section {
        .title-content {
            &--two-lines {
                span {
                    display: block;
                }
            }
        }
        .chart-content {
            .chart {
                &__empresas-activas {
                    height: 1300px;
                }
                &__previsiones-crecimiento {
                    height: 470px;
                }
            }
        }
    }
}

/* Prueba para que se muestre la flecha en móviles no muy altos */
@media only screen and (max-height: 750px) and (max-width: 768px){
    header {
        .cabecera-inferior {
            &__important {
                &--title {
                    margin-bottom: 30px;
                    h1 {
                        width: inherit;
                        font-size: 32px;
                    }
                    h2 {
                        width: inherit;
                        font-size: 15px;
                    }
                }
                .header-chart {
                    height: 230px;
                }
            }
        }
    }
}

@media only screen and (max-height: 675px) and (max-width: 768px){
    header {
        .cabecera-inferior {
            &__important {
                &--title {
                    margin-bottom: 25px;
                    h1 {
                        width: inherit;
                        font-size: 26px;
                    }
                    h2 {
                        width: inherit;
                        font-size: 14px;
                    }
                }
                .header-chart {
                    height: 220px;
                }
            }
        }
    }
}

/* Animación para flecha */
@keyframes scrollDown {
    0%, 100% {
      opacity: 1;
      transform: translate(-50%,0);
    }
    45% {
      opacity: .65;
      transform: translate(-50%,15px);
    }
}