/* SOCIALS NETWORK */
.aside {
  position: fixed;
  bottom: auto;
  background: #5afba5;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  width: auto;
  z-index: 100;
  -webkit-transition: opacity .6s, visibility .6s;
  transition: opacity .6s, visibility .6s;
}

.aside.visible {
  opacity: 1;
  visibility: visible;
}

.aside__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.aside__content .ec-logo {
  display: block;
  line-height: 1;
  padding-right: 0;
  border-right: none;
  margin-right: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
}

.aside__content .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.aside__content .share__icon {
  max-width: 28px;
  max-height: 34px;
  background-color: transparent;
  font-size: 18px;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 32px;
}

@media screen and (max-width: 768px) {
  .aside {
    position: fixed;
    bottom: 0;
    left: 0;
    top: inherit;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    width: 100%;
    z-index: 100;
  }
  .aside__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aside__content .ec-logo {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 10px;
    border-right: 1px solid #fff;
    margin-right: 5px;
  }
  .aside__content .share {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
  }
}
/*# sourceMappingURL=aside.css.map */