/* SOCIALS NETWORK */
.aside {
    position: fixed;
    bottom: auto;
    background: #5afba5;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    width: auto;
    z-index: 100;
    transition: opacity .6s, visibility .6s;
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .ec-logo {
            display: block;
            line-height: 1;
            padding-right: 0;
            border-right: none;
            margin-right: 0;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
            margin-bottom: 5px;
        }
        .share {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 100%;
            &__icon {
                max-width: 28px;
                max-height: 34px;
                background-color: transparent;
                font-size: 18px;
                -webkit-transition: opacity .4s;
                -moz-transition: opacity .4s;
                -o-transition: opacity .4s;
                transition: opacity .4s;
                color: #000;

                display: flex;
                justify-content: center;                
                line-height: 32px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .aside {
        position: fixed;
        bottom: 0;
        left: 0;
        top: inherit;
        transform: translateY(0px);
        
        width: 100%;
        z-index: 100;
        &__content {
            flex-direction: row;
            .ec-logo {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;

                padding-right: 10px;
                border-right: 1px solid #fff;
                margin-right: 5px;
            }
            .share {
                flex-direction: row;
                width: 70%;
            }
        }
    }
}