@charset "UTF-8";
/* Botones en gráficos */
.chart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
  margin-bottom: 23px;
}

.chart-buttons .button {
  width: auto;
  padding: 5px 15px;
  margin: 0px 20px;
  max-width: 200px;
  height: 28px;
  border-radius: 2px;
  opacity: 0.4;
  cursor: pointer;
  border: 0px;
  font-family: 'Roboto';
}

.chart-buttons .button__cuentas {
  background-color: #ffd4c7;
}

.chart-buttons .button__demanda {
  background-color: #59fba5;
}

.chart-buttons .button__sectores {
  background-color: #e4fbff;
}

.chart-buttons .button-active {
  opacity: 1;
}

.graph .chart-buttons .button {
  margin: 0px 15px;
}

@media only screen and (max-width: 767px) {
  .chart-buttons .button {
    padding: 5px 10px;
    margin: 0 5px;
    height: auto;
  }
}
/*# sourceMappingURL=chart-buttons.css.map */