@charset "UTF-8";
/* Interiores > Aplican a d3 */
.domain {
  stroke: #343434;
  stroke-width: 1px;
}

.tick text {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  fill: #ffffff;
  opacity: 0.5;
}

.tick-text-special {
  opacity: 1 !important;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Leyendas en gráficos */
.legend, .legend-three {
  width: 100%;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.legend__item, .legend-three__item {
  font-weight: 900;
  font-size: 15px;
  color: #fff;
  padding-left: 16px;
  margin-left: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.legend__item:first-child, .legend-three__item:first-child {
  margin-left: 0;
}

.graph .legend__item, .graph .legend-three__item {
  font-size: 12px;
  margin-left: 16px;
}

.legend__item:before, .legend-three__item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.legend__item--produccion-primero:before, .legend-three__item--produccion-primero:before {
  background: #4d393a;
}

.legend__item--produccion-segundo:before, .legend-three__item--produccion-segundo:before {
  background: #9d7779;
}

.legend__item--produccion-tercero:before, .legend-three__item--produccion-tercero:before {
  background: #ffbec3;
}

.legend__item--produccion-cuarto:before, .legend-three__item--produccion-cuarto:before {
  background: #ffebec;
}

.legend__item--expectativas-primero:before, .legend-three__item--expectativas-primero:before {
  background: #661e1e;
}

.legend__item--expectativas-segundo:before, .legend-three__item--expectativas-segundo:before {
  background: #992d2d;
}

.legend__item--expectativas-tercero:before, .legend-three__item--expectativas-tercero:before {
  background: #ff4a4a;
}

.legend__item--expectativas-cuarto:before, .legend-three__item--expectativas-cuarto:before {
  background: #ffc8c8;
}

.legend__item--sectores-primero:before, .legend-three__item--sectores-primero:before {
  background: #1e373c;
}

.legend__item--sectores-segundo:before, .legend-three__item--sectores-segundo:before {
  background: #3a6e78;
}

.legend__item--sectores-tercero:before, .legend-three__item--sectores-tercero:before {
  background: #88ebff;
}

.legend__item--sectores-cuarto:before, .legend-three__item--sectores-cuarto:before {
  background: #dbf9ff;
}

.legend__item--cuentas-primero:before, .legend-three__item--cuentas-primero:before {
  background: #3d1f17;
}

.legend__item--cuentas-segundo:before, .legend-three__item--cuentas-segundo:before {
  background: #844734;
}

.legend__item--cuentas-tercero:before, .legend-three__item--cuentas-tercero:before {
  background: #ff9574;
}

.legend__item--cuentas-cuarto:before, .legend-three__item--cuentas-cuarto:before {
  background: #ffd4c7;
}

.legend__item--demanda-primero:before, .legend-three__item--demanda-primero:before {
  background: #144229;
}

.legend__item--demanda-segundo:before, .legend-three__item--demanda-segundo:before {
  background: #2C7B51;
}

.legend__item--demanda-tercero:before, .legend-three__item--demanda-tercero:before {
  background: #59FBA5;
}

.legend__item--demanda-cuarto:before, .legend-three__item--demanda-cuarto:before {
  background: #B8FFD9;
}

.legend__item--demanda-quinto:before, .legend-three__item--demanda-quinto:before {
  background: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  .tick text {
    font-size: 12px;
  }
  .legend__item {
    font-weight: 900;
    font-size: 12px;
    color: #fff;
    padding-left: 14px;
    margin-left: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
  }
  .legend__item:first-child {
    margin-left: 0;
  }
}

@media only screen and (max-width: 425px) {
  .legend {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .legend-five-items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .legend__item {
    margin-left: 0px;
    margin-bottom: 10px;
    width: 40%;
  }
  .legend-three .legend__item {
    margin-left: 10px;
    margin-bottom: 10px;
    width: auto;
  }
}
/*# sourceMappingURL=inside-charts.css.map */