/* Interiores > Aplican a d3 */
.domain {
    stroke: #343434;
    stroke-width: 1px;
}		
.tick text {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    fill: #ffffff;
    opacity: 0.5;    
}		
.tick-text-special {
    opacity: 1 !important;
}		
.overlay {
    fill: none;
    pointer-events: all;
}

/* Leyendas en gráficos */
.legend, .legend-three {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__item {
        font-weight: 900;
        font-size: 15px;
        color: #fff;
        padding-left: 16px;
        margin-left: 24px;
        flex-shrink: 0;
        position: relative;
        &:first-child {margin-left: 0}
        .graph & {
            font-size: 12px;
            margin-left: 16px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
        //Mapa en produccion
        &--produccion-primero:before {background: #4d393a;}
        &--produccion-segundo:before {background: #9d7779;}
        &--produccion-tercero:before {background: #ffbec3;}
        &--produccion-cuarto:before {background: #ffebec;}
        //Gráficos en expectativas
        &--expectativas-primero:before {background: #661e1e;}
        &--expectativas-segundo:before {background: #992d2d;}
        &--expectativas-tercero:before {background: #ff4a4a;}
        &--expectativas-cuarto:before {background: #ffc8c8;}
        //Mapa en sectores
        &--sectores-primero:before {background: #1e373c;}
        &--sectores-segundo:before {background: #3a6e78;}
        &--sectores-tercero:before {background: #88ebff;}
        &--sectores-cuarto:before {background: #dbf9ff;}
        //Mapa en cuentas públicas
        &--cuentas-primero:before {background: #3d1f17;}
        &--cuentas-segundo:before {background: #844734;}
        &--cuentas-tercero:before {background: #ff9574;}
        &--cuentas-cuarto:before {background: #ffd4c7;}
        //Mapa en demanda
        &--demanda-primero:before {background: #144229;}
        &--demanda-segundo:before {background: #2C7B51;}
        &--demanda-tercero:before {background: #59FBA5;}
        &--demanda-cuarto:before {background: #B8FFD9;}
        &--demanda-quinto:before {background: #FFFFFF;}		
    }
}

@media only screen and (max-width: 768px){
    .tick text {
        font-size: 12px;
    }
    .legend {
        &__item {
            font-weight: 900;
            font-size: 12px;
            color: #fff;
            padding-left: 14px;
            margin-left: 15px;
            flex-shrink: 0;
            position: relative;
            &:first-child {margin-left: 0}
        }
    }
}

@media only screen and (max-width: 425px){
    .legend {
        flex-wrap: wrap;
        &-five-items {
            justify-content: flex-start;
        }
        &__item {
            margin-left: 0px;
            margin-bottom: 10px;
            width: 40%;
        }
    }
    .legend-three {
        .legend__item {
            margin-left: 10px;
            margin-bottom: 10px;
            width: auto;
        }
    }
}