.modal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 38px 0px;
    background-color: #50fda2;
    opacity: 0;
    visibility: hidden;
    z-index: 50;
    transition: opacity .6s, visibility .6s;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    &--close {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 40px;
        width: 31px;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #50fda2;
        border: 0px;
        transform: translateY(-50%);
        &:focus {outline: none}
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &--text {
            //Disposición del texto
            display: flex;
            align-items: center;

            //Texto
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;

            margin-right: 50px;
        }
        &--btn {
            //Botón
            width: 225px;
            height: 40px;
            border-radius: 2px;
            background-color: #121212;
            display: flex;
            justify-content: center;
            align-items: center;

            //Texto
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            
            margin-left: 50px;
        }
    }
}

@media only screen and (max-width: 939px){
    .modal {
        &__content {
            flex-direction: column;
            align-items: center;
            &--text {
                text-align: center;
                padding: 0 16px;
                margin-bottom: 15px;

                margin-right: 0px;
            }
            &--btn {
                margin-left: 0px;
            }
        }
    }
}

@media only screen and (max-width: 767px){
    .modal {
        bottom: 54px;
        border-bottom: 1px solid #000;
    }
}