.modal {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 38px 0px;
  background-color: #50fda2;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
  -webkit-transition: opacity .6s, visibility .6s;
  transition: opacity .6s, visibility .6s;
}

.modal.visible {
  opacity: 1;
  visibility: visible;
}

.modal--close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 40px;
  width: 31px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #50fda2;
  border: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal--close:focus {
  outline: none;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__content--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-right: 50px;
}

.modal__content--btn {
  width: 225px;
  height: 40px;
  border-radius: 2px;
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 50px;
}

@media only screen and (max-width: 939px) {
  .modal__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal__content--text {
    text-align: center;
    padding: 0 16px;
    margin-bottom: 15px;
    margin-right: 0px;
  }
  .modal__content--btn {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .modal {
    bottom: 54px;
    border-bottom: 1px solid #000;
  }
}
/*# sourceMappingURL=modal.css.map */