.tooltip-dashboard {  
    display: none;
    opacity: 0;
    padding: 3px;
    pointer-events: none;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1001;
    //Fuente
    font-size: 12px;
    text-align: left;
    font-family: 'Roboto';
    font-weight: bold;
    color: #000;
    &__produccion {
        background-color: #ffbec3;
    }
    &__expectativas {
        background-color: #ff4a4a;
    }
    &__cuentas {
        background-color: #ff9574;
    }
    &__empleo {
        background-color: #ffe68c;
    }
    &__demanda {
        background-color: #59fba5;
    }
    &__sectores {
        background-color: #88ebff;
    }
}