.tooltip-dashboard {
  display: none;
  opacity: 0;
  padding: 3px;
  pointer-events: none;
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1001;
  font-size: 12px;
  text-align: left;
  font-family: 'Roboto';
  font-weight: bold;
  color: #000;
}

.tooltip-dashboard__produccion {
  background-color: #ffbec3;
}

.tooltip-dashboard__expectativas {
  background-color: #ff4a4a;
}

.tooltip-dashboard__cuentas {
  background-color: #ff9574;
}

.tooltip-dashboard__empleo {
  background-color: #ffe68c;
}

.tooltip-dashboard__demanda {
  background-color: #59fba5;
}

.tooltip-dashboard__sectores {
  background-color: #88ebff;
}
/*# sourceMappingURL=tooltip.css.map */